.carousel {
  position: relative;
  background-color: #fff;
  width: 900px;
  margin-bottom: 25px;
}

.carousel-inner img {
  cursor: zoom-in;
}

.carousel .carousel-indicators {
  display: none;
}

.carousel .carousel-control {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: none;
  background-color: #000;
  opacity: 1;
  top: 625px;
  transform: translateY(0px);
  display: flex;
  justify-content: center;
  align-content: center;
}

.carousel .carousel-control.left {
  left: 0;
  opacity: .54;
  transform: transition(all 0.7s ease);

}

.carousel .carousel-control.left:hover {
  opacity: 1;
}

.carousel .carousel-control.right {
  left: 50px;
  right: auto;
  opacity: .54;
  transform: transition(all 0.7s ease);
}

.carousel .carousel-control.right:hover {
  opacity: 1;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin: 0;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  margin: 0;
}

.carousel .carousel-control .glyphicon {
  color: #fff;
  font-size: 18px !important;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel .carousel-caption {
  position: relative;
  color: #000;
  top: 0;
  left: 0;
}

.carousel .carousel-caption h3 {
  text-align: left;
  text-shadow: none;
  padding: 0 0 10px;
  margin: 0;
}

.carousel .carousel-caption p {
  text-align: left;
  text-shadow: none;
  padding: 0;
  margin: 0;
}

/* Video Carousel */

.wistia_swatch img {
  display: none;
}

.w-css-reset img {
  cursor: pointer;
}

.wistia_responsive_padding {
  padding: 56.25% 0 0 0;
  position: relative;
  height: 675px;
  background: black;
}

.wistia_responsive_wrapper {
  height: 675px;
  left: 0;
  position: absolute;
  top: 12%;
  width: 100%;
}

.wistia_embed, .wistia_async_kvdrb93p6n {
  height: 675px;
  position: relative;
  width: 100%;
}

.wistia_swatch {
  height: 675px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 200ms;
  width: 100%;
}

.video-img {
  position: relative;
  filter: blur(5px);
  height: 625px;
  width: 100%;
}

/* Responsive Code */

@media screen and (max-width: 1024px) {
  .carousel {
    width: 600px;
    margin-bottom: 20px;
  }
  .carousel .carousel-control {
    top: 400px;
  }
  .wistia_responsive_padding {
    padding: 56.25% 0 0 0;
    height: 450px;
  }

  .wistia_responsive_wrapper {
    height: 450px;
    top: 10%;
  }

  .wistia_embed, .wistia_async_kvdrb93p6n {
    height: 450px;
  }

  .wistia_swatch {
    height: 450px;
  }

  .video-img {
    height: 450px;
  }
}

@media screen and (max-width: 700px) {
  .carousel {
    width: 100%;
    margin-bottom: 20px;
  }
  .carousel .carousel-control {
    width: 40px;
    height: 40px;
    top: calc(((100vw - 2rem) * .75) - 40px);
  }

  .carousel .carousel-control.right {
    left: 40px;
  }

  .carousel .carousel-control .glyphicon {
    font-size: 14px !important;
  }

  .carousel .carousel-control.left:hover {
    opacity: 1;
  }

  .carousel .carousel-control.right:hover {
    opacity: 1;
  }

  .carousel .carousel-control.left:focus {
    opacity: .54;
  }

  .carousel .carousel-control.right:focus {
    opacity: .54;
  }

  .carousel .carousel-control.left:active {
    opacity: 1;
  }

  .carousel .carousel-control.right:active {
    opacity: 1;
  }

  .wistia_responsive_padding {
    height: calc((100vw - 2rem) * .75);
  }

  .wistia_responsive_wrapper {
    height: calc((100vw - 2rem) * .75);
    top: 10%;
  }

  .wistia_embed, .wistia_async_kvdrb93p6n {
    height: calc((100vw - 2rem) * .75);
  }

  .wistia_swatch {
    height: calc((100vw - 2rem) * .75);
  }

  .video-img {
    height: calc((100vw - 2rem) * .75);
  }
}
